{% extends 'base_menu.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
	<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<body>
	<div class="main">
		<div class="container">
			<div class="info">		
				<form action="{{url_for('addTask', test_id = test_id)}}" method="post" enctype="multipart/form-data">
					<h3 class="info_item">Введите количество ответов</h3>
					{{ form.hidden_tag() }}
					{% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
						<p class="info_item">{{ field.label() }} 
						{% if field.errors %}
							{{ field(class="invalid") }}
							{% if 'not_type' not in field.errors %}
								<span class="invalid-feedback">
								{% for e in field.errors %}
									{{ e }}
								{% endfor %}
								</span>
							{% endif %}
						{% else %}
							{{ field() }}
						{% endif %}
					{% endfor %}
					<p class="info_item">{{ form.submit() }}
						<a href="{{ url_for('showTest', test_id = test_id) }}" class="add_task_button">Назад</a></p>
				</form>
				
			</div>
		</div>
	</div>
</body>
{% endblock %}