{% extends 'base_menu.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
	<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<body>
<div class="main">
	<div class="container">
		<div class="info">		
			<form action="" method="post">
    			{{ form.hidden_tag() }}
    			{% for field in form if field.name not in ['csrf_token', 'submit'] -%}
					<p class="info_item">{{ field.label() }} 
					{{ field() }}
				{% endfor %}
				<p class="info_item">{{ form.submit() }}
			</form>
		</div>
	</div>
</div>
{% endblock %}