{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
	<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<body>
	<div class="container">
		<form action="{{ url_for('register') }}" method="post" class="container_registration">
			{{ form.hidden_tag() }}
			{% for field in form if field.name not in ['csrf_token', 'submit'] -%}
				<p>{{ field.label() }} 
					{{ field() }}
			{% endfor %}
			<p>{{ form.submit() }}
		</form>
	</div>
</body>
{% endblock %}