{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
	<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<body>
	<div class="container">
		<div class="info">
			<h3>{{ current_user.GetLastName() }} {{ current_user.GetFirstName() }} {{ current_user.GetMiddleName() }}</h3>
			<p>Электронная почта: {{ current_user.GetEmail() }}</p>
			<p>Логин: {{ current_user.GetLogin() }}</p>
			<a href="{{ url_for('uploadAvatar') }}"> Загрузить аватар</a> 
		</div>
	</div>
</body>
{% endblock %}
