{% extends 'base_menu.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
      <div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}
<body>
    <div class="main">
        <div class="container">
            <div class="info">
                <summary class="task">
                    {% set question = dbase.get_question_by_task_id(task_id) %}
                    {% if question %}
                        <p>Вопрос: <strong>{{ question }}</strong></p>
                    {% endif %}
                    <div class="menu">
                        <a href="{{ url_for('changeQuestionName', test_id = test_id, task_id = task_id) }}" class="kits_item"><img src="{{ url_for('static', filename='images/pen-solid.png') }}" alt=""></a>
                    </div>
                </summary>
                {% set answers = dbase.get_answers_by_task_id(task_id) %}
                {% if answers %}
                    {% for answer_id, answer_text, is_right in answers %}
                        <summary class="task">
                            {% if is_right %}
                                <p>{{ answer_text }}<img src="{{ url_for('static', filename='images/right.png') }}" alt=""> </p>
                            {% else %}
                                <p>{{ answer_text }}<img src="{{ url_for('static', filename='images/wrong.png') }}" alt=""></p>
                            {% endif %}
                            <div class="menu">
                                <a href="{{ url_for('changeAnswer', answer_id = answer_id, test_id = test_id, task_id = task_id) }}" class="kits_item"><img src="{{ url_for('static', filename='images/pen-solid.png') }}" alt=""></a>
                                <a href="{{ url_for('deleteAnswer', answer_id = answer_id, test_id = test_id, task_id = task_id) }}" class="kits_item"><img src="{{ url_for('static', filename='images/trash-alt.png') }}" alt=""></a>
                            </div>
                        </summary>
                    {% endfor %}
                </div>
                {% endif %}
        <a href="{{ url_for('addAnswer', test_id = test_id, task_id = task_id) }}" class="add_answer_button">Добавить ответ</a>
        <a href="{{ url_for('showTest', test_id = test_id) }}" class="add_answer_button">Назад</a>
        </div>
    </div>
</body>
{% endblock %}